<div class="container mt-3">
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h3>Welcome to my Portfolio Website. This is Christopher Koulougliotis' website. Feel free to take a look around, maybe even contact me! Thanks.</h3>
    </div>
</div>