<!-- Card Content -->
<div class="container pt-lg-5 mt-lg-5">
<div class="card justify-content-center card mb-3 mx-auto" style="max-width: 900px;">
    <div class="row g-0 d-flex align-items-center">
        <div class="col-md-4">
            <img src="/assets/20210412_100926.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">About Me</h5>
                <p class="card-text">Hi there! My name is Christopher Koulougliotis, currently in my second year or third semester for Software Engineering Technologies, here at Centennial College.</p>
                <p class="card-text">I'm from Pickering, Ontario, Canada. With my time at Centennial, I have learnt about JavaScript, Java, C#, Express JS, CSS, HTML, and various software design methodologies.</p>
                <a href="/assets/christopher_koulougliotis_resume.pdf"><p class="card-text"><small class="text-dark">View or Download Resume</small></p></a>
            </div>
        </div>
    </div>
</div>
</div>
