<!-- Bottom Nav -->
<nav class="navbar fixed-bottom navbar-dark bg-dark border border-light">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="/">&copy 2022 Christopher Koulougliotis</a>
    </div>
</nav>
