<!-- Carousel / slide gallery for Projects-->

<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/srs_project1.png" class="d-block w-100" alt="...">
                <br>
                <div class="text-dark d-none text-center d-md-block">
                    <h5>First Project - Software System Requirements</h5>
                    <p>
                        An in-depth and specific setup to a piece of software called MentalPower.
                        In a group of four, we worked together to design and implement UML diagrams,
                        identifying the actors, use cases, classes, and more while putting together
                        an organized document for this software, MentalPower.
                    </p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="assets/project_2.png" class="img-thumbnail d-block mx-auto" alt="...">
                <br>
                <div class="text-dark text-center d-none d-md-block">
                    <h5>Second Project - My Portfolio Website!</h5>
                    <p>
                        Developing my very own portfolio website.
                        This project included learning Express JS, Bootstrap, JQuery, and more packages, scripts, and dependencies.
                        I also created a repository on GitHub for Version Control, along with utilizing a Cloud Provider to host the website.
                    </p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="assets/gradeManager.png" class=" d-block mx-auto" alt="...">
                <br>
                <div class="text-dark text-center d-none d-md-block">
                    <h5>Third Project - Grade Manager</h5>
                    <p>
                        Created a Grade Manager program in C# that can parse or de-serialize a json file.
                        The output returns an average of the whole list, returns all the students and their name from the list,
                        Shows students with a mark above a set amount, and can even return students who are available on a select day, at a specified time.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <br>
    </div>
</div>