<!-- list of Contact Info -->
<div class="container pt-lg-5">
    <div class="container mt-3">
        <ul class="list-group list-group-flush text-center w-50 mx-auto">
            <li class="list-group-item">Full name: Christopher Koulougliotis</li>
            <li class="list-group-item">My Email: <a href="mailto:ckoulou1@my.centennialcollege.ca">ckoulou1@my.centennialcollege.ca</a> </li>
            <li class="list-group-item">Personal Cell: <a href="tel:2893888842"> 2893888842</a> </li>
        </ul>
    </div>
</div>